html {
  font-size: 10px;
}
body {
  background-color: #ffffff;
  margin: 0px;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 2em;
}

a {
  text-decoration: none;
}

a:link {
    color: #000000;
}

a:visited {
  color: #ababab;
}

a:hover {
  color: #ab8768;
}

a:active{
  color: #666666;
}

.main {
  padding: 5em 0;
  margin: 0 20em;
}

h2 {
    font-size: 5em;
    text-align: center;
}

h3 {
    font-size: 4em;
    text-align: center;
}

h2, h3, h4, h5 {
    font-family: "Gabba";
    font-weight: normal;
    letter-spacing: 0.2em;
    line-height: 2em;
}

h4 {
    font-size: 3em;
    line-height: 1.5em;
}

h5 {
    font-size: 3em;
    line-height: 1em;
}

.image.medium {
  display: block;
  margin: 20px auto;
  height: 300px;
}