.social {
  text-align: right;
  background: #ffffff;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #000000;
  padding: 2em 120px;

}

.icon {
}

.social-icon {
  padding: 0 1em;
}