.head.title {
  font-family: 'Southern Aire';
  font-size: 11em;
  font-weight: normal;
  padding: 0.4em;
  margin: 0;
  text-align: center;
  background: #ffffff;
}

.head.nav-bar {
  font-family: "Gabba";
  font-size: 2.75em;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 1em;
  text-align: center;
  background: #ffffff;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #bbbbbb;
}

.head.nav-bar li {
  display: inline-block;
  padding: 0 1.5em;
}