.intro.chopin {
  font-family: "Chopin";
  font-size: 2em;
  font-weight: normal;
  margin: 0px;
  text-align: center;
  text-shadow: -.02em .00em .03em #222222;
}

.intro.living {
  font-family: "Southern_Aire";
  font-size: 2.5em;
  font-weight: normal;
  margin: 20px;
  text-align: center;
  text-shadow: -.02em .00em .03em #222222;
}
