---
  layout: default
---

{% include header.html %}


<h1 class="head title">The Spirits Enthusiast Society</h1>
<h1 class="head nav-bar">
  <ul>
    <li><a href="/index.html">Home<a></li>
    <li><a href="/blog.html">Blog<a></li>
    <li><a href="/lectures.html">Lectures<a></li>
    <li><a href="/about.html">About<a></li>
    <li><a href="/contact.html">Contact<a></li>
  </ul>
</h1>

<h2 class="living title">Welcome to the Living Room Lecture Series!</h1>

<p class="living text">The Living Room Lecture Series was conceived as a way to introduce students to the expansive and sometimes confusing world of alcohol and its accoutrement.  Ignorance of the many pleasures that excellently crafted libations can provide often leads to unpleasant feelings of anxiety or boredom at a party or cocktail bar.  Through the following educational presentations, the Spirits Enthusiast Society hopes to enrich your responsible enjoyment of satisfying beverages.</p>

<h2 class="living title">Course Directory</h2>

<a href="../whiskey-1.html" class="living dir">1: Introduction to Whiskey</a>

{% include footer.html %}