<!DOCTYPE html>
  <html>
  <head>

      {% include meta.html %}

      <title>The Spirits Enthusiast Society</title>

      <!-- styles -->
      {% include base-styles.html %}

      {% if page.css %} <link rel="stylesheet" href="/css/{{ page.css }}"> {% endif %}

  </head>
  <body>

    {% include header.html %}

    <section class="main">

      {{ content }}

    </section>
    </body>

    {% include footer.html %}

    {% if page.js %}
      <script src="/js/{{ page.js }}"></script>
    {% endif %}

</html>