<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>The Spirits Enthusiast Society</title>
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/fonts.css">
      <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body>
<h1 class="head title">The Spirits Enthusiast Society</h1>
<div class="head line"> </div> 
<h3 class="head nav-bar">
  <ul>
    <li><a href="../../index.html">Home<a></li>
    <li><a href="../../journal.html">Journal<a></li>
    <li><a href="../../lectures/lectures.html">Lectures<a></li>
    <li><a href="../../about.html">About<a></li>
    <li><a href="../../contact.html">Contact<a></li>
  </ul>
</h3>

{{ content }}

  </body>
</html>